body {
    background-color: salmon;
    color: black;
}

button {
    background-color: beige;
    font-family: Comic Sans MS;
    outline-color: black;
    border-radius: 50px 50px;
    width: 150px;
    height: 75px;
    font-size: 15px;
    ;
}
